<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ims.mapper.ImsStockMapper" >
  <resultMap id="BaseResultMap" type="com.ims.entity.ImsStock" >
    <id column="STOCK_CODE" property="stockCode" jdbcType="INTEGER" />
    <result column="STOCK_NAME" property="stockName" jdbcType="VARCHAR" />
    <result column="STOCK_CAPACITY" property="stockCapacity" jdbcType="VARCHAR" />
    <result column="STOCK_ADDR" property="stockAddr" jdbcType="VARCHAR" />
    <result column="CRATE_TIME" property="crateTime" jdbcType="VARCHAR" />
    <result column="CREATER" property="creater" jdbcType="VARCHAR" />
    <result column="LAST_MODIFYER_TIME" property="lastModifyerTime" jdbcType="VARCHAR" />
    <result column="LAST_MODIFIER" property="lastModifier" jdbcType="VARCHAR" />
    <result column="IS_DELETED" property="isDeleted" jdbcType="VARCHAR" />
    <result column="REMARKS" property="remarks" jdbcType="VARCHAR" />
    <result column="OFFICE" property="office" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    STOCK_CODE, STOCK_NAME, STOCK_CAPACITY, STOCK_ADDR, CRATE_TIME, CREATER, LAST_MODIFYER_TIME, 
    LAST_MODIFIER, IS_DELETED, REMARKS, OFFICE
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.ims.entity.ImsStockExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from ims_stock
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from ims_stock
    where STOCK_CODE = #{stockCode,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from ims_stock
    where STOCK_CODE = #{stockCode,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.ims.entity.ImsStockExample" >
    delete from ims_stock
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.ims.entity.ImsStock" >
    <selectKey resultType="java.lang.Integer" keyProperty="stockCode" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into ims_stock (STOCK_NAME, STOCK_CAPACITY, STOCK_ADDR, 
      CRATE_TIME, CREATER, LAST_MODIFYER_TIME, 
      LAST_MODIFIER, IS_DELETED, REMARKS, 
      OFFICE)
    values (#{stockName,jdbcType=VARCHAR}, #{stockCapacity,jdbcType=VARCHAR}, #{stockAddr,jdbcType=VARCHAR}, 
      #{crateTime,jdbcType=VARCHAR}, #{creater,jdbcType=VARCHAR}, #{lastModifyerTime,jdbcType=VARCHAR}, 
      #{lastModifier,jdbcType=VARCHAR}, #{isDeleted,jdbcType=VARCHAR}, #{remarks,jdbcType=VARCHAR}, 
      #{office,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.ims.entity.ImsStock" >
    <selectKey resultType="java.lang.Integer" keyProperty="stockCode" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into ims_stock
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="stockName != null" >
        STOCK_NAME,
      </if>
      <if test="stockCapacity != null" >
        STOCK_CAPACITY,
      </if>
      <if test="stockAddr != null" >
        STOCK_ADDR,
      </if>
      <if test="crateTime != null" >
        CRATE_TIME,
      </if>
      <if test="creater != null" >
        CREATER,
      </if>
      <if test="lastModifyerTime != null" >
        LAST_MODIFYER_TIME,
      </if>
      <if test="lastModifier != null" >
        LAST_MODIFIER,
      </if>
      <if test="isDeleted != null" >
        IS_DELETED,
      </if>
      <if test="remarks != null" >
        REMARKS,
      </if>
      <if test="office != null" >
        OFFICE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="stockName != null" >
        #{stockName,jdbcType=VARCHAR},
      </if>
      <if test="stockCapacity != null" >
        #{stockCapacity,jdbcType=VARCHAR},
      </if>
      <if test="stockAddr != null" >
        #{stockAddr,jdbcType=VARCHAR},
      </if>
      <if test="crateTime != null" >
        #{crateTime,jdbcType=VARCHAR},
      </if>
      <if test="creater != null" >
        #{creater,jdbcType=VARCHAR},
      </if>
      <if test="lastModifyerTime != null" >
        #{lastModifyerTime,jdbcType=VARCHAR},
      </if>
      <if test="lastModifier != null" >
        #{lastModifier,jdbcType=VARCHAR},
      </if>
      <if test="isDeleted != null" >
        #{isDeleted,jdbcType=VARCHAR},
      </if>
      <if test="remarks != null" >
        #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="office != null" >
        #{office,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.ims.entity.ImsStockExample" resultType="java.lang.Integer" >
    select count(*) from ims_stock
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update ims_stock
    <set >
      <if test="record.stockCode != null" >
        STOCK_CODE = #{record.stockCode,jdbcType=INTEGER},
      </if>
      <if test="record.stockName != null" >
        STOCK_NAME = #{record.stockName,jdbcType=VARCHAR},
      </if>
      <if test="record.stockCapacity != null" >
        STOCK_CAPACITY = #{record.stockCapacity,jdbcType=VARCHAR},
      </if>
      <if test="record.stockAddr != null" >
        STOCK_ADDR = #{record.stockAddr,jdbcType=VARCHAR},
      </if>
      <if test="record.crateTime != null" >
        CRATE_TIME = #{record.crateTime,jdbcType=VARCHAR},
      </if>
      <if test="record.creater != null" >
        CREATER = #{record.creater,jdbcType=VARCHAR},
      </if>
      <if test="record.lastModifyerTime != null" >
        LAST_MODIFYER_TIME = #{record.lastModifyerTime,jdbcType=VARCHAR},
      </if>
      <if test="record.lastModifier != null" >
        LAST_MODIFIER = #{record.lastModifier,jdbcType=VARCHAR},
      </if>
      <if test="record.isDeleted != null" >
        IS_DELETED = #{record.isDeleted,jdbcType=VARCHAR},
      </if>
      <if test="record.remarks != null" >
        REMARKS = #{record.remarks,jdbcType=VARCHAR},
      </if>
      <if test="record.office != null" >
        OFFICE = #{record.office,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update ims_stock
    set STOCK_CODE = #{record.stockCode,jdbcType=INTEGER},
      STOCK_NAME = #{record.stockName,jdbcType=VARCHAR},
      STOCK_CAPACITY = #{record.stockCapacity,jdbcType=VARCHAR},
      STOCK_ADDR = #{record.stockAddr,jdbcType=VARCHAR},
      CRATE_TIME = #{record.crateTime,jdbcType=VARCHAR},
      CREATER = #{record.creater,jdbcType=VARCHAR},
      LAST_MODIFYER_TIME = #{record.lastModifyerTime,jdbcType=VARCHAR},
      LAST_MODIFIER = #{record.lastModifier,jdbcType=VARCHAR},
      IS_DELETED = #{record.isDeleted,jdbcType=VARCHAR},
      REMARKS = #{record.remarks,jdbcType=VARCHAR},
      OFFICE = #{record.office,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.ims.entity.ImsStock" >
    update ims_stock
    <set >
      <if test="stockName != null" >
        STOCK_NAME = #{stockName,jdbcType=VARCHAR},
      </if>
      <if test="stockCapacity != null" >
        STOCK_CAPACITY = #{stockCapacity,jdbcType=VARCHAR},
      </if>
      <if test="stockAddr != null" >
        STOCK_ADDR = #{stockAddr,jdbcType=VARCHAR},
      </if>
      <if test="crateTime != null" >
        CRATE_TIME = #{crateTime,jdbcType=VARCHAR},
      </if>
      <if test="creater != null" >
        CREATER = #{creater,jdbcType=VARCHAR},
      </if>
      <if test="lastModifyerTime != null" >
        LAST_MODIFYER_TIME = #{lastModifyerTime,jdbcType=VARCHAR},
      </if>
      <if test="lastModifier != null" >
        LAST_MODIFIER = #{lastModifier,jdbcType=VARCHAR},
      </if>
      <if test="isDeleted != null" >
        IS_DELETED = #{isDeleted,jdbcType=VARCHAR},
      </if>
      <if test="remarks != null" >
        REMARKS = #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="office != null" >
        OFFICE = #{office,jdbcType=VARCHAR},
      </if>
    </set>
    where STOCK_CODE = #{stockCode,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ims.entity.ImsStock" >
    update ims_stock
    set STOCK_NAME = #{stockName,jdbcType=VARCHAR},
      STOCK_CAPACITY = #{stockCapacity,jdbcType=VARCHAR},
      STOCK_ADDR = #{stockAddr,jdbcType=VARCHAR},
      CRATE_TIME = #{crateTime,jdbcType=VARCHAR},
      CREATER = #{creater,jdbcType=VARCHAR},
      LAST_MODIFYER_TIME = #{lastModifyerTime,jdbcType=VARCHAR},
      LAST_MODIFIER = #{lastModifier,jdbcType=VARCHAR},
      IS_DELETED = #{isDeleted,jdbcType=VARCHAR},
      REMARKS = #{remarks,jdbcType=VARCHAR},
      OFFICE = #{office,jdbcType=VARCHAR}
    where STOCK_CODE = #{stockCode,jdbcType=INTEGER}
  </update>
</mapper>