<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ims.mapper.VwOperationMapper" >
  <resultMap id="BaseResultMap" type="com.ims.entity.VwOperation" >
    <result column="OPERATION_NO" property="operationNo" jdbcType="INTEGER" />
    <result column="OPERATION_STOCK" property="operationStock" jdbcType="VARCHAR" />
    <result column="OPERATION_TYPE" property="operationType" jdbcType="VARCHAR" />
    <result column="ORDER_NO" property="orderNo" jdbcType="VARCHAR" />
    <result column="REMARKS" property="remarks" jdbcType="VARCHAR" />
    <result column="CRATE_TIME" property="crateTime" jdbcType="VARCHAR" />
    <result column="CREATER" property="creater" jdbcType="VARCHAR" />
    <result column="LAST_MODIFYER_TIME" property="lastModifyerTime" jdbcType="VARCHAR" />
    <result column="LAST_MODIFIER" property="lastModifier" jdbcType="VARCHAR" />
    <result column="IS_DELETED" property="isDeleted" jdbcType="VARCHAR" />
    <result column="OFFICE" property="office" jdbcType="VARCHAR" />
    <result column="CODE_DISPLAY" property="codeDisplay" jdbcType="VARCHAR" />
    <result column="STOCK_NAME" property="stockName" jdbcType="VARCHAR" />
    <result column="ORDER_CUSTOMER" property="orderCustomer" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    OPERATION_NO, OPERATION_STOCK, OPERATION_TYPE, ORDER_NO, REMARKS, CRATE_TIME, CREATER, 
    LAST_MODIFYER_TIME, LAST_MODIFIER, IS_DELETED, OFFICE, CODE_DISPLAY, STOCK_NAME, 
    ORDER_CUSTOMER
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.ims.entity.VwOperationExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from vw_operation
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.ims.entity.VwOperationExample" >
    delete from vw_operation
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.ims.entity.VwOperation" >
    insert into vw_operation (OPERATION_NO, OPERATION_STOCK, OPERATION_TYPE, 
      ORDER_NO, REMARKS, CRATE_TIME, 
      CREATER, LAST_MODIFYER_TIME, LAST_MODIFIER, 
      IS_DELETED, OFFICE, CODE_DISPLAY, 
      STOCK_NAME, ORDER_CUSTOMER)
    values (#{operationNo,jdbcType=INTEGER}, #{operationStock,jdbcType=VARCHAR}, #{operationType,jdbcType=VARCHAR}, 
      #{orderNo,jdbcType=VARCHAR}, #{remarks,jdbcType=VARCHAR}, #{crateTime,jdbcType=VARCHAR}, 
      #{creater,jdbcType=VARCHAR}, #{lastModifyerTime,jdbcType=VARCHAR}, #{lastModifier,jdbcType=VARCHAR}, 
      #{isDeleted,jdbcType=VARCHAR}, #{office,jdbcType=VARCHAR}, #{codeDisplay,jdbcType=VARCHAR}, 
      #{stockName,jdbcType=VARCHAR}, #{orderCustomer,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.ims.entity.VwOperation" >
    insert into vw_operation
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="operationNo != null" >
        OPERATION_NO,
      </if>
      <if test="operationStock != null" >
        OPERATION_STOCK,
      </if>
      <if test="operationType != null" >
        OPERATION_TYPE,
      </if>
      <if test="orderNo != null" >
        ORDER_NO,
      </if>
      <if test="remarks != null" >
        REMARKS,
      </if>
      <if test="crateTime != null" >
        CRATE_TIME,
      </if>
      <if test="creater != null" >
        CREATER,
      </if>
      <if test="lastModifyerTime != null" >
        LAST_MODIFYER_TIME,
      </if>
      <if test="lastModifier != null" >
        LAST_MODIFIER,
      </if>
      <if test="isDeleted != null" >
        IS_DELETED,
      </if>
      <if test="office != null" >
        OFFICE,
      </if>
      <if test="codeDisplay != null" >
        CODE_DISPLAY,
      </if>
      <if test="stockName != null" >
        STOCK_NAME,
      </if>
      <if test="orderCustomer != null" >
        ORDER_CUSTOMER,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="operationNo != null" >
        #{operationNo,jdbcType=INTEGER},
      </if>
      <if test="operationStock != null" >
        #{operationStock,jdbcType=VARCHAR},
      </if>
      <if test="operationType != null" >
        #{operationType,jdbcType=VARCHAR},
      </if>
      <if test="orderNo != null" >
        #{orderNo,jdbcType=VARCHAR},
      </if>
      <if test="remarks != null" >
        #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="crateTime != null" >
        #{crateTime,jdbcType=VARCHAR},
      </if>
      <if test="creater != null" >
        #{creater,jdbcType=VARCHAR},
      </if>
      <if test="lastModifyerTime != null" >
        #{lastModifyerTime,jdbcType=VARCHAR},
      </if>
      <if test="lastModifier != null" >
        #{lastModifier,jdbcType=VARCHAR},
      </if>
      <if test="isDeleted != null" >
        #{isDeleted,jdbcType=VARCHAR},
      </if>
      <if test="office != null" >
        #{office,jdbcType=VARCHAR},
      </if>
      <if test="codeDisplay != null" >
        #{codeDisplay,jdbcType=VARCHAR},
      </if>
      <if test="stockName != null" >
        #{stockName,jdbcType=VARCHAR},
      </if>
      <if test="orderCustomer != null" >
        #{orderCustomer,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.ims.entity.VwOperationExample" resultType="java.lang.Integer" >
    select count(*) from vw_operation
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update vw_operation
    <set >
      <if test="record.operationNo != null" >
        OPERATION_NO = #{record.operationNo,jdbcType=INTEGER},
      </if>
      <if test="record.operationStock != null" >
        OPERATION_STOCK = #{record.operationStock,jdbcType=VARCHAR},
      </if>
      <if test="record.operationType != null" >
        OPERATION_TYPE = #{record.operationType,jdbcType=VARCHAR},
      </if>
      <if test="record.orderNo != null" >
        ORDER_NO = #{record.orderNo,jdbcType=VARCHAR},
      </if>
      <if test="record.remarks != null" >
        REMARKS = #{record.remarks,jdbcType=VARCHAR},
      </if>
      <if test="record.crateTime != null" >
        CRATE_TIME = #{record.crateTime,jdbcType=VARCHAR},
      </if>
      <if test="record.creater != null" >
        CREATER = #{record.creater,jdbcType=VARCHAR},
      </if>
      <if test="record.lastModifyerTime != null" >
        LAST_MODIFYER_TIME = #{record.lastModifyerTime,jdbcType=VARCHAR},
      </if>
      <if test="record.lastModifier != null" >
        LAST_MODIFIER = #{record.lastModifier,jdbcType=VARCHAR},
      </if>
      <if test="record.isDeleted != null" >
        IS_DELETED = #{record.isDeleted,jdbcType=VARCHAR},
      </if>
      <if test="record.office != null" >
        OFFICE = #{record.office,jdbcType=VARCHAR},
      </if>
      <if test="record.codeDisplay != null" >
        CODE_DISPLAY = #{record.codeDisplay,jdbcType=VARCHAR},
      </if>
      <if test="record.stockName != null" >
        STOCK_NAME = #{record.stockName,jdbcType=VARCHAR},
      </if>
      <if test="record.orderCustomer != null" >
        ORDER_CUSTOMER = #{record.orderCustomer,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update vw_operation
    set OPERATION_NO = #{record.operationNo,jdbcType=INTEGER},
      OPERATION_STOCK = #{record.operationStock,jdbcType=VARCHAR},
      OPERATION_TYPE = #{record.operationType,jdbcType=VARCHAR},
      ORDER_NO = #{record.orderNo,jdbcType=VARCHAR},
      REMARKS = #{record.remarks,jdbcType=VARCHAR},
      CRATE_TIME = #{record.crateTime,jdbcType=VARCHAR},
      CREATER = #{record.creater,jdbcType=VARCHAR},
      LAST_MODIFYER_TIME = #{record.lastModifyerTime,jdbcType=VARCHAR},
      LAST_MODIFIER = #{record.lastModifier,jdbcType=VARCHAR},
      IS_DELETED = #{record.isDeleted,jdbcType=VARCHAR},
      OFFICE = #{record.office,jdbcType=VARCHAR},
      CODE_DISPLAY = #{record.codeDisplay,jdbcType=VARCHAR},
      STOCK_NAME = #{record.stockName,jdbcType=VARCHAR},
      ORDER_CUSTOMER = #{record.orderCustomer,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>