<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ims.mapper.VwOrderExtendMapper" >
  <resultMap id="BaseResultMap" type="com.ims.entity.VwOrderExtend" >
    <result column="ORDER_EXTEND_NO" property="orderExtendNo" jdbcType="INTEGER" />
    <result column="ORDER_NO" property="orderNo" jdbcType="INTEGER" />
    <result column="PRODUCT_NO" property="productNo" jdbcType="INTEGER" />
    <result column="PRODUCT_NUM" property="productNum" jdbcType="INTEGER" />
    <result column="PRODUCT_DONE_NUM" property="productDoneNum" jdbcType="INTEGER" />
    <result column="CRATE_TIME" property="crateTime" jdbcType="VARCHAR" />
    <result column="CREATER" property="creater" jdbcType="VARCHAR" />
    <result column="LAST_MODIFYER_TIME" property="lastModifyerTime" jdbcType="VARCHAR" />
    <result column="LAST_MODIFIER" property="lastModifier" jdbcType="VARCHAR" />
    <result column="IS_DELETED" property="isDeleted" jdbcType="VARCHAR" />
    <result column="REMARKS" property="remarks" jdbcType="VARCHAR" />
    <result column="PRODUCT_NAME" property="productName" jdbcType="VARCHAR" />
    <result column="PRODUCT_PRICE" property="productPrice" jdbcType="VARCHAR" />
    <result column="PRODUCT_PURCPRICE" property="productPurcprice" jdbcType="VARCHAR" />
    <result column="PRODUCT_SPEC" property="productSpec" jdbcType="VARCHAR" />
    <result column="PRODUCT_SUM" property="productSum" jdbcType="VARCHAR" />
    <result column="PRODUCT_MANUFACTURER" property="productManufacturer" jdbcType="VARCHAR" />
    <result column="PRODUCT_ADDR" property="productAddr" jdbcType="VARCHAR" />
    <result column="PRODUCT_UNIT" property="productUnit" jdbcType="VARCHAR" />
    <result column="PRODUCT_TYPE" property="productType" jdbcType="VARCHAR" />
    <result column="PRODUCT_GRADE" property="productGrade" jdbcType="VARCHAR" />
    <result column="TYPE_NAME" property="typeName" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    ORDER_EXTEND_NO, ORDER_NO, PRODUCT_NO, PRODUCT_NUM, PRODUCT_DONE_NUM, CRATE_TIME, 
    CREATER, LAST_MODIFYER_TIME, LAST_MODIFIER, IS_DELETED, REMARKS, PRODUCT_NAME, PRODUCT_PRICE, 
    PRODUCT_PURCPRICE, PRODUCT_SPEC, PRODUCT_SUM, PRODUCT_MANUFACTURER, PRODUCT_ADDR, 
    PRODUCT_UNIT, PRODUCT_TYPE, PRODUCT_GRADE, TYPE_NAME
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.ims.entity.VwOrderExtendExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from vw_order_extend
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.ims.entity.VwOrderExtendExample" >
    delete from vw_order_extend
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.ims.entity.VwOrderExtend" >
    insert into vw_order_extend (ORDER_EXTEND_NO, ORDER_NO, PRODUCT_NO, 
      PRODUCT_NUM, PRODUCT_DONE_NUM, CRATE_TIME, 
      CREATER, LAST_MODIFYER_TIME, LAST_MODIFIER, 
      IS_DELETED, REMARKS, PRODUCT_NAME, 
      PRODUCT_PRICE, PRODUCT_PURCPRICE, PRODUCT_SPEC, 
      PRODUCT_SUM, PRODUCT_MANUFACTURER, PRODUCT_ADDR, 
      PRODUCT_UNIT, PRODUCT_TYPE, PRODUCT_GRADE, 
      TYPE_NAME)
    values (#{orderExtendNo,jdbcType=INTEGER}, #{orderNo,jdbcType=INTEGER}, #{productNo,jdbcType=INTEGER}, 
      #{productNum,jdbcType=INTEGER}, #{productDoneNum,jdbcType=INTEGER}, #{crateTime,jdbcType=VARCHAR}, 
      #{creater,jdbcType=VARCHAR}, #{lastModifyerTime,jdbcType=VARCHAR}, #{lastModifier,jdbcType=VARCHAR}, 
      #{isDeleted,jdbcType=VARCHAR}, #{remarks,jdbcType=VARCHAR}, #{productName,jdbcType=VARCHAR}, 
      #{productPrice,jdbcType=VARCHAR}, #{productPurcprice,jdbcType=VARCHAR}, #{productSpec,jdbcType=VARCHAR}, 
      #{productSum,jdbcType=VARCHAR}, #{productManufacturer,jdbcType=VARCHAR}, #{productAddr,jdbcType=VARCHAR}, 
      #{productUnit,jdbcType=VARCHAR}, #{productType,jdbcType=VARCHAR}, #{productGrade,jdbcType=VARCHAR}, 
      #{typeName,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.ims.entity.VwOrderExtend" >
    insert into vw_order_extend
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="orderExtendNo != null" >
        ORDER_EXTEND_NO,
      </if>
      <if test="orderNo != null" >
        ORDER_NO,
      </if>
      <if test="productNo != null" >
        PRODUCT_NO,
      </if>
      <if test="productNum != null" >
        PRODUCT_NUM,
      </if>
      <if test="productDoneNum != null" >
        PRODUCT_DONE_NUM,
      </if>
      <if test="crateTime != null" >
        CRATE_TIME,
      </if>
      <if test="creater != null" >
        CREATER,
      </if>
      <if test="lastModifyerTime != null" >
        LAST_MODIFYER_TIME,
      </if>
      <if test="lastModifier != null" >
        LAST_MODIFIER,
      </if>
      <if test="isDeleted != null" >
        IS_DELETED,
      </if>
      <if test="remarks != null" >
        REMARKS,
      </if>
      <if test="productName != null" >
        PRODUCT_NAME,
      </if>
      <if test="productPrice != null" >
        PRODUCT_PRICE,
      </if>
      <if test="productPurcprice != null" >
        PRODUCT_PURCPRICE,
      </if>
      <if test="productSpec != null" >
        PRODUCT_SPEC,
      </if>
      <if test="productSum != null" >
        PRODUCT_SUM,
      </if>
      <if test="productManufacturer != null" >
        PRODUCT_MANUFACTURER,
      </if>
      <if test="productAddr != null" >
        PRODUCT_ADDR,
      </if>
      <if test="productUnit != null" >
        PRODUCT_UNIT,
      </if>
      <if test="productType != null" >
        PRODUCT_TYPE,
      </if>
      <if test="productGrade != null" >
        PRODUCT_GRADE,
      </if>
      <if test="typeName != null" >
        TYPE_NAME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="orderExtendNo != null" >
        #{orderExtendNo,jdbcType=INTEGER},
      </if>
      <if test="orderNo != null" >
        #{orderNo,jdbcType=INTEGER},
      </if>
      <if test="productNo != null" >
        #{productNo,jdbcType=INTEGER},
      </if>
      <if test="productNum != null" >
        #{productNum,jdbcType=INTEGER},
      </if>
      <if test="productDoneNum != null" >
        #{productDoneNum,jdbcType=INTEGER},
      </if>
      <if test="crateTime != null" >
        #{crateTime,jdbcType=VARCHAR},
      </if>
      <if test="creater != null" >
        #{creater,jdbcType=VARCHAR},
      </if>
      <if test="lastModifyerTime != null" >
        #{lastModifyerTime,jdbcType=VARCHAR},
      </if>
      <if test="lastModifier != null" >
        #{lastModifier,jdbcType=VARCHAR},
      </if>
      <if test="isDeleted != null" >
        #{isDeleted,jdbcType=VARCHAR},
      </if>
      <if test="remarks != null" >
        #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="productName != null" >
        #{productName,jdbcType=VARCHAR},
      </if>
      <if test="productPrice != null" >
        #{productPrice,jdbcType=VARCHAR},
      </if>
      <if test="productPurcprice != null" >
        #{productPurcprice,jdbcType=VARCHAR},
      </if>
      <if test="productSpec != null" >
        #{productSpec,jdbcType=VARCHAR},
      </if>
      <if test="productSum != null" >
        #{productSum,jdbcType=VARCHAR},
      </if>
      <if test="productManufacturer != null" >
        #{productManufacturer,jdbcType=VARCHAR},
      </if>
      <if test="productAddr != null" >
        #{productAddr,jdbcType=VARCHAR},
      </if>
      <if test="productUnit != null" >
        #{productUnit,jdbcType=VARCHAR},
      </if>
      <if test="productType != null" >
        #{productType,jdbcType=VARCHAR},
      </if>
      <if test="productGrade != null" >
        #{productGrade,jdbcType=VARCHAR},
      </if>
      <if test="typeName != null" >
        #{typeName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.ims.entity.VwOrderExtendExample" resultType="java.lang.Integer" >
    select count(*) from vw_order_extend
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update vw_order_extend
    <set >
      <if test="record.orderExtendNo != null" >
        ORDER_EXTEND_NO = #{record.orderExtendNo,jdbcType=INTEGER},
      </if>
      <if test="record.orderNo != null" >
        ORDER_NO = #{record.orderNo,jdbcType=INTEGER},
      </if>
      <if test="record.productNo != null" >
        PRODUCT_NO = #{record.productNo,jdbcType=INTEGER},
      </if>
      <if test="record.productNum != null" >
        PRODUCT_NUM = #{record.productNum,jdbcType=INTEGER},
      </if>
      <if test="record.productDoneNum != null" >
        PRODUCT_DONE_NUM = #{record.productDoneNum,jdbcType=INTEGER},
      </if>
      <if test="record.crateTime != null" >
        CRATE_TIME = #{record.crateTime,jdbcType=VARCHAR},
      </if>
      <if test="record.creater != null" >
        CREATER = #{record.creater,jdbcType=VARCHAR},
      </if>
      <if test="record.lastModifyerTime != null" >
        LAST_MODIFYER_TIME = #{record.lastModifyerTime,jdbcType=VARCHAR},
      </if>
      <if test="record.lastModifier != null" >
        LAST_MODIFIER = #{record.lastModifier,jdbcType=VARCHAR},
      </if>
      <if test="record.isDeleted != null" >
        IS_DELETED = #{record.isDeleted,jdbcType=VARCHAR},
      </if>
      <if test="record.remarks != null" >
        REMARKS = #{record.remarks,jdbcType=VARCHAR},
      </if>
      <if test="record.productName != null" >
        PRODUCT_NAME = #{record.productName,jdbcType=VARCHAR},
      </if>
      <if test="record.productPrice != null" >
        PRODUCT_PRICE = #{record.productPrice,jdbcType=VARCHAR},
      </if>
      <if test="record.productPurcprice != null" >
        PRODUCT_PURCPRICE = #{record.productPurcprice,jdbcType=VARCHAR},
      </if>
      <if test="record.productSpec != null" >
        PRODUCT_SPEC = #{record.productSpec,jdbcType=VARCHAR},
      </if>
      <if test="record.productSum != null" >
        PRODUCT_SUM = #{record.productSum,jdbcType=VARCHAR},
      </if>
      <if test="record.productManufacturer != null" >
        PRODUCT_MANUFACTURER = #{record.productManufacturer,jdbcType=VARCHAR},
      </if>
      <if test="record.productAddr != null" >
        PRODUCT_ADDR = #{record.productAddr,jdbcType=VARCHAR},
      </if>
      <if test="record.productUnit != null" >
        PRODUCT_UNIT = #{record.productUnit,jdbcType=VARCHAR},
      </if>
      <if test="record.productType != null" >
        PRODUCT_TYPE = #{record.productType,jdbcType=VARCHAR},
      </if>
      <if test="record.productGrade != null" >
        PRODUCT_GRADE = #{record.productGrade,jdbcType=VARCHAR},
      </if>
      <if test="record.typeName != null" >
        TYPE_NAME = #{record.typeName,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update vw_order_extend
    set ORDER_EXTEND_NO = #{record.orderExtendNo,jdbcType=INTEGER},
      ORDER_NO = #{record.orderNo,jdbcType=INTEGER},
      PRODUCT_NO = #{record.productNo,jdbcType=INTEGER},
      PRODUCT_NUM = #{record.productNum,jdbcType=INTEGER},
      PRODUCT_DONE_NUM = #{record.productDoneNum,jdbcType=INTEGER},
      CRATE_TIME = #{record.crateTime,jdbcType=VARCHAR},
      CREATER = #{record.creater,jdbcType=VARCHAR},
      LAST_MODIFYER_TIME = #{record.lastModifyerTime,jdbcType=VARCHAR},
      LAST_MODIFIER = #{record.lastModifier,jdbcType=VARCHAR},
      IS_DELETED = #{record.isDeleted,jdbcType=VARCHAR},
      REMARKS = #{record.remarks,jdbcType=VARCHAR},
      PRODUCT_NAME = #{record.productName,jdbcType=VARCHAR},
      PRODUCT_PRICE = #{record.productPrice,jdbcType=VARCHAR},
      PRODUCT_PURCPRICE = #{record.productPurcprice,jdbcType=VARCHAR},
      PRODUCT_SPEC = #{record.productSpec,jdbcType=VARCHAR},
      PRODUCT_SUM = #{record.productSum,jdbcType=VARCHAR},
      PRODUCT_MANUFACTURER = #{record.productManufacturer,jdbcType=VARCHAR},
      PRODUCT_ADDR = #{record.productAddr,jdbcType=VARCHAR},
      PRODUCT_UNIT = #{record.productUnit,jdbcType=VARCHAR},
      PRODUCT_TYPE = #{record.productType,jdbcType=VARCHAR},
      PRODUCT_GRADE = #{record.productGrade,jdbcType=VARCHAR},
      TYPE_NAME = #{record.typeName,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>