<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ims.mapper.VwStockMapper" >
  <resultMap id="BaseResultMap" type="com.ims.entity.VwStock" >
    <result column="IMS_STOCK_PRODUCT_ID" property="imsStockProductId" jdbcType="INTEGER" />
    <result column="PRODUCT_NO" property="productNo" jdbcType="INTEGER" />
    <result column="STOCK_CODE" property="stockCode" jdbcType="INTEGER" />
    <result column="STOCK_PRODUCT_NUM" property="stockProductNum" jdbcType="INTEGER" />
    <result column="CRATE_TIME" property="crateTime" jdbcType="VARCHAR" />
    <result column="CREATER" property="creater" jdbcType="VARCHAR" />
    <result column="LAST_MODIFYER_TIME" property="lastModifyerTime" jdbcType="VARCHAR" />
    <result column="LAST_MODIFIER" property="lastModifier" jdbcType="VARCHAR" />
    <result column="IS_DELETED" property="isDeleted" jdbcType="VARCHAR" />
    <result column="REMARKS" property="remarks" jdbcType="VARCHAR" />
    <result column="STOCK_NAME" property="stockName" jdbcType="VARCHAR" />
    <result column="PRODUCT_GRADE" property="productGrade" jdbcType="VARCHAR" />
    <result column="PRODUCT_NAME" property="productName" jdbcType="VARCHAR" />
    <result column="PRODUCT_PRICE" property="productPrice" jdbcType="VARCHAR" />
    <result column="PRODUCT_PURCPRICE" property="productPurcprice" jdbcType="VARCHAR" />
    <result column="PRODUCT_SPEC" property="productSpec" jdbcType="VARCHAR" />
    <result column="PRODUCT_UNIT" property="productUnit" jdbcType="VARCHAR" />
    <result column="PRODUCT_MANUFACTURER" property="productManufacturer" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    IMS_STOCK_PRODUCT_ID, PRODUCT_NO, STOCK_CODE, STOCK_PRODUCT_NUM, CRATE_TIME, CREATER, 
    LAST_MODIFYER_TIME, LAST_MODIFIER, IS_DELETED, REMARKS, STOCK_NAME, PRODUCT_GRADE, 
    PRODUCT_NAME, PRODUCT_PRICE, PRODUCT_PURCPRICE, PRODUCT_SPEC, PRODUCT_UNIT, PRODUCT_MANUFACTURER
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.ims.entity.VwStockExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from vw_stock
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.ims.entity.VwStockExample" >
    delete from vw_stock
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.ims.entity.VwStock" >
    insert into vw_stock (IMS_STOCK_PRODUCT_ID, PRODUCT_NO, STOCK_CODE, 
      STOCK_PRODUCT_NUM, CRATE_TIME, CREATER, 
      LAST_MODIFYER_TIME, LAST_MODIFIER, IS_DELETED, 
      REMARKS, STOCK_NAME, PRODUCT_GRADE, 
      PRODUCT_NAME, PRODUCT_PRICE, PRODUCT_PURCPRICE, 
      PRODUCT_SPEC, PRODUCT_UNIT, PRODUCT_MANUFACTURER
      )
    values (#{imsStockProductId,jdbcType=INTEGER}, #{productNo,jdbcType=INTEGER}, #{stockCode,jdbcType=INTEGER}, 
      #{stockProductNum,jdbcType=INTEGER}, #{crateTime,jdbcType=VARCHAR}, #{creater,jdbcType=VARCHAR}, 
      #{lastModifyerTime,jdbcType=VARCHAR}, #{lastModifier,jdbcType=VARCHAR}, #{isDeleted,jdbcType=VARCHAR}, 
      #{remarks,jdbcType=VARCHAR}, #{stockName,jdbcType=VARCHAR}, #{productGrade,jdbcType=VARCHAR}, 
      #{productName,jdbcType=VARCHAR}, #{productPrice,jdbcType=VARCHAR}, #{productPurcprice,jdbcType=VARCHAR}, 
      #{productSpec,jdbcType=VARCHAR}, #{productUnit,jdbcType=VARCHAR}, #{productManufacturer,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.ims.entity.VwStock" >
    insert into vw_stock
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="imsStockProductId != null" >
        IMS_STOCK_PRODUCT_ID,
      </if>
      <if test="productNo != null" >
        PRODUCT_NO,
      </if>
      <if test="stockCode != null" >
        STOCK_CODE,
      </if>
      <if test="stockProductNum != null" >
        STOCK_PRODUCT_NUM,
      </if>
      <if test="crateTime != null" >
        CRATE_TIME,
      </if>
      <if test="creater != null" >
        CREATER,
      </if>
      <if test="lastModifyerTime != null" >
        LAST_MODIFYER_TIME,
      </if>
      <if test="lastModifier != null" >
        LAST_MODIFIER,
      </if>
      <if test="isDeleted != null" >
        IS_DELETED,
      </if>
      <if test="remarks != null" >
        REMARKS,
      </if>
      <if test="stockName != null" >
        STOCK_NAME,
      </if>
      <if test="productGrade != null" >
        PRODUCT_GRADE,
      </if>
      <if test="productName != null" >
        PRODUCT_NAME,
      </if>
      <if test="productPrice != null" >
        PRODUCT_PRICE,
      </if>
      <if test="productPurcprice != null" >
        PRODUCT_PURCPRICE,
      </if>
      <if test="productSpec != null" >
        PRODUCT_SPEC,
      </if>
      <if test="productUnit != null" >
        PRODUCT_UNIT,
      </if>
      <if test="productManufacturer != null" >
        PRODUCT_MANUFACTURER,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="imsStockProductId != null" >
        #{imsStockProductId,jdbcType=INTEGER},
      </if>
      <if test="productNo != null" >
        #{productNo,jdbcType=INTEGER},
      </if>
      <if test="stockCode != null" >
        #{stockCode,jdbcType=INTEGER},
      </if>
      <if test="stockProductNum != null" >
        #{stockProductNum,jdbcType=INTEGER},
      </if>
      <if test="crateTime != null" >
        #{crateTime,jdbcType=VARCHAR},
      </if>
      <if test="creater != null" >
        #{creater,jdbcType=VARCHAR},
      </if>
      <if test="lastModifyerTime != null" >
        #{lastModifyerTime,jdbcType=VARCHAR},
      </if>
      <if test="lastModifier != null" >
        #{lastModifier,jdbcType=VARCHAR},
      </if>
      <if test="isDeleted != null" >
        #{isDeleted,jdbcType=VARCHAR},
      </if>
      <if test="remarks != null" >
        #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="stockName != null" >
        #{stockName,jdbcType=VARCHAR},
      </if>
      <if test="productGrade != null" >
        #{productGrade,jdbcType=VARCHAR},
      </if>
      <if test="productName != null" >
        #{productName,jdbcType=VARCHAR},
      </if>
      <if test="productPrice != null" >
        #{productPrice,jdbcType=VARCHAR},
      </if>
      <if test="productPurcprice != null" >
        #{productPurcprice,jdbcType=VARCHAR},
      </if>
      <if test="productSpec != null" >
        #{productSpec,jdbcType=VARCHAR},
      </if>
      <if test="productUnit != null" >
        #{productUnit,jdbcType=VARCHAR},
      </if>
      <if test="productManufacturer != null" >
        #{productManufacturer,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.ims.entity.VwStockExample" resultType="java.lang.Integer" >
    select count(*) from vw_stock
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update vw_stock
    <set >
      <if test="record.imsStockProductId != null" >
        IMS_STOCK_PRODUCT_ID = #{record.imsStockProductId,jdbcType=INTEGER},
      </if>
      <if test="record.productNo != null" >
        PRODUCT_NO = #{record.productNo,jdbcType=INTEGER},
      </if>
      <if test="record.stockCode != null" >
        STOCK_CODE = #{record.stockCode,jdbcType=INTEGER},
      </if>
      <if test="record.stockProductNum != null" >
        STOCK_PRODUCT_NUM = #{record.stockProductNum,jdbcType=INTEGER},
      </if>
      <if test="record.crateTime != null" >
        CRATE_TIME = #{record.crateTime,jdbcType=VARCHAR},
      </if>
      <if test="record.creater != null" >
        CREATER = #{record.creater,jdbcType=VARCHAR},
      </if>
      <if test="record.lastModifyerTime != null" >
        LAST_MODIFYER_TIME = #{record.lastModifyerTime,jdbcType=VARCHAR},
      </if>
      <if test="record.lastModifier != null" >
        LAST_MODIFIER = #{record.lastModifier,jdbcType=VARCHAR},
      </if>
      <if test="record.isDeleted != null" >
        IS_DELETED = #{record.isDeleted,jdbcType=VARCHAR},
      </if>
      <if test="record.remarks != null" >
        REMARKS = #{record.remarks,jdbcType=VARCHAR},
      </if>
      <if test="record.stockName != null" >
        STOCK_NAME = #{record.stockName,jdbcType=VARCHAR},
      </if>
      <if test="record.productGrade != null" >
        PRODUCT_GRADE = #{record.productGrade,jdbcType=VARCHAR},
      </if>
      <if test="record.productName != null" >
        PRODUCT_NAME = #{record.productName,jdbcType=VARCHAR},
      </if>
      <if test="record.productPrice != null" >
        PRODUCT_PRICE = #{record.productPrice,jdbcType=VARCHAR},
      </if>
      <if test="record.productPurcprice != null" >
        PRODUCT_PURCPRICE = #{record.productPurcprice,jdbcType=VARCHAR},
      </if>
      <if test="record.productSpec != null" >
        PRODUCT_SPEC = #{record.productSpec,jdbcType=VARCHAR},
      </if>
      <if test="record.productUnit != null" >
        PRODUCT_UNIT = #{record.productUnit,jdbcType=VARCHAR},
      </if>
      <if test="record.productManufacturer != null" >
        PRODUCT_MANUFACTURER = #{record.productManufacturer,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update vw_stock
    set IMS_STOCK_PRODUCT_ID = #{record.imsStockProductId,jdbcType=INTEGER},
      PRODUCT_NO = #{record.productNo,jdbcType=INTEGER},
      STOCK_CODE = #{record.stockCode,jdbcType=INTEGER},
      STOCK_PRODUCT_NUM = #{record.stockProductNum,jdbcType=INTEGER},
      CRATE_TIME = #{record.crateTime,jdbcType=VARCHAR},
      CREATER = #{record.creater,jdbcType=VARCHAR},
      LAST_MODIFYER_TIME = #{record.lastModifyerTime,jdbcType=VARCHAR},
      LAST_MODIFIER = #{record.lastModifier,jdbcType=VARCHAR},
      IS_DELETED = #{record.isDeleted,jdbcType=VARCHAR},
      REMARKS = #{record.remarks,jdbcType=VARCHAR},
      STOCK_NAME = #{record.stockName,jdbcType=VARCHAR},
      PRODUCT_GRADE = #{record.productGrade,jdbcType=VARCHAR},
      PRODUCT_NAME = #{record.productName,jdbcType=VARCHAR},
      PRODUCT_PRICE = #{record.productPrice,jdbcType=VARCHAR},
      PRODUCT_PURCPRICE = #{record.productPurcprice,jdbcType=VARCHAR},
      PRODUCT_SPEC = #{record.productSpec,jdbcType=VARCHAR},
      PRODUCT_UNIT = #{record.productUnit,jdbcType=VARCHAR},
      PRODUCT_MANUFACTURER = #{record.productManufacturer,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>